* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f9ff;
    color: #222;
    min-height: 100vh;
    background: 
    linear-gradient(150deg, #57a5d8, #020107);
    background-size: cover;
    background-attachment: fixed;
}
