@import url("root.css");
@import url("header.css");
@import url("burger.css");
@import url("notification.css");
@import url("body.css");
@import url("titles.css");
@import url("main.css");
@import url("modal_window.css");
@import url("bars.css");
@import url("faq.css");
@import url("review.css");
@import url("footer.css");
@import url("button_top.css");


.main-content-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}



@media (min-width: 1024px) {
    .content-container{
        display: grid;
        grid-template-columns: 5fr 4fr;
        column-gap: 10px;
        margin: 0 auto;
    }
    .section-review{
        margin-top: 0;
    }
}


.section-review{
    max-width: 700px;
}

.review {
    grid-template-columns: 1fr;
}


.magnet-section {
  max-width: 700px;
  padding: 20px 16px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px) ;
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

  color: #fff;
  font-family: "Inter", sans-serif;
  container-type: inline-size;
  container-name: magnet;
}

.magnet-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 24px 24px;
}

@container magnet (width < 600px) {
  .magnet-header {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    margin: 0 0 24px;
  }

  .magnet-info{
    text-align: center;
  }

  .magnet-info h2 {
    font-size: 1.3rem;
  }

  .magnet-info div {
    flex-direction: column;
    gap: 0;
  }
}

.magnet-scale {
  position: relative;
  width: 90px;
  height: 90px;
}

.magnet-scale svg {
  width: 100%;
  height: auto;
  overflow: visible;
}

.scale-bg {
  stroke: rgba(24, 20, 20, 0.08);
  stroke-width: 10;
  fill: none;
  stroke-linecap: round;
}

.scale-fill {
    stroke: #00ff85;
    stroke-width: 10;
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 0 210;
    transition: stroke-dasharray 0.6s ease, stroke 0.4s ease;
}


.scale-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  line-height: 1;
}

.scale-value {
    font-size: 2rem;
    font-weight: 700;
    cursor: default;
}

.scale-caption{
  font-size: 0.8rem;
  font-weight: 500;
  cursor: default;
}

.magnet-info{
  line-height: 1.2;
}

.magnet-info h2 {
  font-size: 1.6rem;
  margin: 0;
}

.magnet-info div {
  display: flex;
  gap: 5px;
  margin: 0 0 0;
  font-size: 0.95rem;
}

.state-label {
  font-weight: 600;
}


.state-label.calm { color: rgba(255, 255, 255, 0.56); }
.state-label.weak { color: rgba(246, 209, 63, 1); }
.state-label.moderate { color: rgba(233, 151, 76, 1); }
.state-label.strong { color: rgb(255, 92, 92); }
.state-label.very-strong { color: rgba(201, 33, 33, 1); }
.state-label.extrim { color: rgba(148, 23, 98, 1); }

.magnet-forecast {
  margin-top: 25px;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.magnet-forecast h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.magnet-day {
  display: flex;
  margin-bottom: 1.4rem;
  position: relative;
  padding: 20px 14px;
  background: rgba(255,255,255,0.2);
  border-radius: 12px;
}

.magnet-day h4 {
  display: flex;
  flex-direction: column;
  min-width: 70px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  
}

.magnet-day .date{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.56);
}



.bar[data-level="0"] { background: rgba(255,255,255,0.15); height: 5px; }
.bar[data-level="1"] { background: rgba(255,255,255,0.15); height: 10px; }
.bar[data-level="2"] { background: rgba(255,255,255,0.15); height: 15px; }
.bar[data-level="3"] { background: rgba(255,255,255,0.15); height: 20px; }
.bar[data-level="4"] { background: rgba(255,255,255,0.15); height: 25px; }
.bar[data-level="5"] { background: rgba(246, 209, 63, 1); height: 50px; }
.bar[data-level="6"] { background: rgba(233, 151, 76, 1); height: 70px; }
.bar[data-level="7"] { background: rgba(234, 87, 63, 1); height: 80px; }
.bar[data-level="8"] { background: rgba(201, 33, 33, 1); height: 90px; }
.bar[data-level="9"] { background: rgba(148, 23, 98, 1); height: 100px; }

.magnet-bars{
  padding: 0 24px;
  height: 130px;
}

.magnet-bars .bar {
  width: 10%;
}

.magnet-bars .bar-value {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  padding: 2px 6px;
  opacity: 1;
  transition: transform 0.25s ease;
}

@media (max-width: 700px){
  .magnet-day{
    flex-direction: column;
  }
  .magnet-day h4{
    flex-direction: row;
    gap: 5px;
  }

  .magnet-day .date{
    align-self: center;
  }
  .magnet-bars{
    padding: 0;
  }

  .magnet-bars .bar{
    width: 12%;
  }
}

