main {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


@media (max-width: 1296px) {
    main {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}