@import url("root.css");
@import url("header.css");
@import url("burger.css");
@import url("notification.css");
@import url("body.css");
@import url("titles.css");
@import url("main.css");
@import url("modal_window.css");
@import url("bars.css");
@import url("faq.css");
@import url("review.css");
@import url("footer.css");
@import url("button_top.css");






.main-content-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}


@media (min-width: 1024px) {
    .content-container{
        display: grid;
        grid-template-columns: 5fr 4fr;
        column-gap: 10px;
        margin: 0 auto;
    }
    .section-review{
        margin-top: 0;
    }
}

.section-review{
    max-width: 700px;
}

.review {
    grid-template-columns: 1fr;
}

.pollen-section {
  max-width: 700px;
  padding: 20px 25px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px) ;
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

  color: #fff;
  font-family: "Inter", sans-serif;
}

.pollen-title {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

h2, h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.pollen-description {
  font-size: 0.95rem;
  margin-bottom: 16px;
}

.pollen-buttons {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.pollen-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s ease;
}

.pollen-btn.active,
.pollen-btn:hover {
  background: #ffd54f;
  color: #000;
}


.pollen-block{
    position: relative;
    padding: 20px 14px;
    background: rgba(255,255,255,0.2);
    border-radius: 12px;
}

.pollen-info {
  display: flex;
  flex-direction: column;
}

.status.low { color: rgba(235, 184, 54, 1);; }
.status.medium { color: rgba(255, 188, 87, 1); }
.status.high { color: rgba(250, 12, 8, 1); }